<ion-header>
  <ion-navbar>
    <ion-title>
      Detail
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page4" style="background-color:#9B59B6;">
  <form id="detail-form5">
    <ion-searchbar 
      placeholder="" 
      name="" 
      id="detail-search2" 
      autocorrect="on"  
      showCancelButton= true
      [(ngModel)]="myInput"
      [ngModelOptions]="{standalone: true}"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="getItems($event)"

      >     
    </ion-searchbar>
    <ion-list >
<!--       <ion-item *ngFor="let item of items"> -->
      <ion-item-sliding *ngFor="let item of items ">
        <ion-item (click)="presentModal(item)" >
<!--           <ion-label stacked>as</ion-label>
          <ion-label stacked>City</ion-label> -->
<!--           <button ion-button (click)="presentModal()">{{ item }}</button> -->
          <ion-label float float-start> {{ item.name }}</ion-label>
          <ion-label float text-right > {{ item.email }}</ion-label>
           
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="favorite(item)">Favorite</button>
          <button ion-button color="danger" (click)="share(item)">Share</button>
        </ion-item-options>
    
        <ion-item-options side="right">
          <button ion-button (click)="unread(item)">Unread</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>

 <!--  <ion-list id="detail-list5">
    <ion-item color="none" id="detail-list-item14">
      Item 1
    </ion-item>
    <ion-item color="none" id="detail-list-item15">
      Item 2
    </ion-item>
    <ion-item color="none" id="detail-list-item16">
      Item 3
    </ion-item>
  </ion-list>


          <button ion-button color="danger" (click)="onLoad()">test observable</button> -->

 <!--  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 -->
</ion-content>